---
import Layout from '../../components/Layout.astro';
---

<Layout title="Experimental Demos">
	<ul>
		<li><a href="./experimental/hyperdrive">Hyperdrive</a></li>
		<li><a href="./experimental/resolver">resolver</a></li>
	</ul>
</Layout>
