---
import { FormGroup } from './core/form-group';
import FieldSet from './FieldSet.astro';
export interface Props {
	formGroups: FormGroup[];
}

const { formGroups } = Astro.props;
---

<form>
	{formGroups.map((group) => <FieldSet group={group} />)}
</form>
